@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: #131313;
    color: #eeeeee;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    height: 7.5vh;
    text-align: center;
    background-color: #202020;
}

#homework-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75vw;
    height: 92.5vh;
    background-color: #171717;
    overflow-x: hidden;
    overflow-y: scroll;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #555555;
        background-color: #202020;
        color: #eeeeee;

        p, strong {
            width: calc((100% - 25px)/4);
            text-align: center;
        }

        button {
            width: 30px;
            height: 30px;
            border-radius: 10px;
            background-color: #444444;
            border: none;
            transition-duration: 0.25s;
            cursor: pointer;
            color: white;
            font-size: 1rem;
            font-weight: 900;

            &:hover {
                background-color: #a00000;
            }
        }
    }
}

#add-homework-button {
    position: absolute;
    height: 5vh;
    width: 5vh;
    font-size: 2.5vh;
    right: calc(25vw + 20px);
    top: 1.25vh;
    border-radius: 50%;
    background-color: #505050;
    color: #eeeeee;
    border: none;
    cursor: pointer;
    font-weight: 900;
    transition-duration: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &:hover {
        background-color: #606060;
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    }
    &:active {
        background-color: #444444;
        transform: scale(0.9);
    }
}

#popup-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    backdrop-filter: blur(2px);
}

#homework-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 50vh;
    background-color: #303030;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;

    input {
        width: 100%;
        box-sizing: border-box;
        background-color: #171717;
        color: #eeeeee;
        border: 1px solid #555555;
        border-radius: 5px;
        padding: 10px;
        height: 7.5vh;
    }

    div {
        display: flex;
        flex-direction: row;
        gap: 10px;

        button {
            width: 50%;
            box-sizing: border-box;
            background-color: #171717;
            color: #eeeeee;
            border: 1px solid #555555;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            transition-duration: 0.25s;
        }

        #cancel-homework-button {
            width: 30%;
            &:hover {
                background-color: #a03030;
            }
        }
        #save-homework-button {
            width: 70%;
            &:hover {
                background-color: #30a030;
            }
        }
    } 
}





/* Custom gray scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #202020;
}

::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666666;
}

::-webkit-scrollbar-thumb:active {
    background: #aaaaaa;
}