body {
    background-color: #101010;
}

#navbar {
    position: absolute;
    bottom: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;

    div {
        cursor: pointer;
    }

    .navbig {
        span {
            font-size: 64px;
        }
        background-color: #303030;
        color: white;
        padding: 10px;
        border-radius: 50%;
        transform: translateY(-15px);
        border: 10px solid #101010;
        transition-duration: 0.5s;
        width: 64px;
        height: 64px;

        &:hover {
            background-color: #404040;
            transform: scale(1.1) translateY(-20px);
        }
    }

    .navsmall {
        span {
            font-size: 36px;
        }
        p {
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.5s, transform 0.5s;
            margin: 0;
            padding: 0;
            transform: translateY(10px);
        }
        padding: 10px;
        border-radius: 10px;
        transition-duration: 0.5s;
        &:hover {
            background-color: #333;
            transform: scale(1.05);
            p {
                opacity: 1;
                transform: translateY(0);
            }
        }
        width: 54px;
        height: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.selected {
             background-color: #222;
            p {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &.selected:hover {
            background-color: #333;
            transform: scale(1.05);
            p {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

#page-frame {
    width: 100vw;
    height: 90vh;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: calc(10vh - 20px);
}

#page-title-container {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10vh;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 0;
        font-size: 300%;
    }
}

#popup-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    backdrop-filter: blur(2px);
}

#add-event-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 50vh;
    background-color: #303030;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;

    input {
        width: 100%;
        box-sizing: border-box;
        background-color: #171717;
        color: #eeeeee;
        border: 1px solid #555555;
        border-radius: 5px;
        padding: 10px;
        height: 7.5vh;
    }

    div {
        display: flex;
        flex-direction: row;
        gap: 10px;

        button {
            box-sizing: border-box;
            background-color: #171717;
            color: #eeeeee;
            border: 1px solid #555555;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            transition-duration: 0.25s;
        }

        #cancel-homework-button {
            width: 30%;

            &:hover {
                background-color: #a03030;
            }
        }

        #save-homework-button {
            width: 70%;

            &:hover {
                background-color: #30a030;
            }
        }
    }
}