@use "global" as *;

#homework-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 92.5vh;
    background-color: $background-main;
    overflow-x: hidden;
    overflow-y: scroll;

    #uncompleted-homework,
    #completed-homework {
        div {
            min-height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border-bottom: 1px solid $border-color;
            background-color: $background-card;
            color: $text-primary;
            justify-items: center;

            div {
                display: flex;
                flex-direction: column;
                text-align: left;
                border: 0;
                padding: 0;
                margin: 0;
                box-sizing: border-box;  
                justify-content: center;
                max-height: min-content;

                p,
                strong {
                    text-align: left;
                    width: 100%;
                    justify-self: center;
                    min-width: 0;
                    margin: 0;
                }
            }




            div {
                margin: auto 0;
                flex: 0 1 0;
                min-width: fit-content;
                text-align: center;
                overflow: hidden;
            }

            .hw-desc {
                margin: auto 0;
                flex: 1 1 0;
                text-align: right;
                padding-right: 20px;
            }

            .hw-dueDate {
                margin: auto 0;
                text-align: right;
                flex: 0 0 auto;
                white-space: nowrap;
                min-width: max-content;
                align-self: flex-end;
            }

            p, strong {
                white-space: wrap;
                text-overflow: ellipsis;
            }

            button {
                width: 30px;
                height: 30px;
                border-radius: 10px;
                background-color: $primary;
                border: none;
                transition-duration: 0.25s;
                cursor: pointer;
                color: white;
                font-size: 1rem;
                font-weight: 900;
                margin: auto 0;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

                &:hover {
                    transform: scale(1.1);
                    background-color: $primary-hover;
                }
            }
        }
    }

    #completed-homework {
        div {
            background-color: $background-main;
            color: $text-secondary;

            button {
                background-color: $primary-hover;
                color: $text-primary;

                &:hover {
                    background-color: $primary;
                }
            }
        }
    }
}

#homework-controls {
    width: 100vw;
    height: 7.5vh;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: $background-card;

    button {
        height: 5vh;
        width: 15vw;
        background-color: $background-main;
        color: $text-primary;
        border: 1px solid $border-color;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition-duration: 0.25s;
        font-family: "Outfit", sans-serif;
    }

    #sort-homework-dropdown {
        width: 15vw;
        height: 5vh;
        background-color: $background-main;
        color: $text-primary;
        border: 1px solid $border-color;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        text-align: center;

        option {
            background-color: $background-card;
            color: $text-primary;
            border: 1px solid $border-color;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
        }
    }
}

.homework-item,
.completed-item {
    transition: all 0.5s ease;
    opacity: 1;
    overflow: hidden;
}

.hidden-item {
    opacity: 0;
    max-height: 0;
    margin: 0;
    padding: 0;
}