#homework-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #101010;
    overflow-x: hidden;
    overflow-y: scroll;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #555555;
        background-color: #202020;
        color: #eeeeee;

        div {
            display: flex;
            flex-direction: column;
            text-align: left;
            align-items: flex-start;
            justify-content: flex-start;
            border: 0;
            padding: 0;
            padding-top: 10px;
            padding-left: 10px;

            p,strong {
                text-align: left;
            }
        }

        p,
        strong, div {
            width: calc((100% - 25px)/3);
            text-align: center;
        }

        button {
            width: 30px;
            height: 30px;
            border-radius: 10px;
            background-color: #444444;
            border: none;
            transition-duration: 0.25s;
            cursor: pointer;
            color: white;
            font-size: 1rem;
            font-weight: 900;
            margin: 5px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

#homework-controls {
    width: 100vw;
    height: 7.5vh;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: #202020;

    button {
        height: 5vh;
        width: 15vw;
        background-color: #171717;
        color: #eeeeee;
        border: 1px solid #555555;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition-duration: 0.25s;
        font-family: "Outfit", sans-serif;
    }

    #add-homework-button:hover {
        background-color: #30a030;
    }

    #clear-homework-button:hover {
        background-color: #a03030;
    }

    #sort-homework-dropdown {
        width: 15vw;
        height: 5vh;
        background-color: #171717;
        color: #eeeeee;
        border: 1px solid #555555;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        text-align: center;

        option {
            background-color: #202020;
            color: #eeeeee;
            border: 1px solid #555555;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
        }
    }
}





