@use 'global' as *;

html,
body {
    overflow-x: hidden;
}

#schedule-section {
    width: 70vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    #schedule-container {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        .schedule-item {
            background-color: $background-card;
            color: $text-primary;
            border: 1px solid $border-color;
            border-radius: 5px;
            padding: 15px;

            .schedule-item-buttons {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;

                button {
                    background-color: $background-main;
                    color: $text-primary;
                    border: 1px solid $border-color;
                    border-radius: 5px;
                    padding: 5px;
                    cursor: pointer;
                    transition: background-color 0.5s;

                    &:hover {
                        background-color: $primary-hover;
                    }
                }

                h2 {
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
}

#class-section {
    width: 30vw;
    height: 100%;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;

    #class-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;

        .class-item {
            background-color: $background-card;
            color: $text-primary;
            border: 1px solid $border-color;
            border-radius: 5px;
            padding: 15px;

            .class-item-buttons {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;

                button {
                    background-color: $background-main;
                    color: $text-primary;
                    border: 1px solid $border-color;
                    border-radius: 5px;
                    padding: 5px;
                    cursor: pointer;
                    transition: background-color 0.5s;

                    &:hover {
                        background-color: $primary-hover;
                    }
                }

                h2 {
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
}


